<section class="container-fluid with-maxwidth chapter">
  <article class="article">
    <div class="row">
      <h2 class="article-title padding-top-30 col-12 col-sm-6">Artículos</h2>
      <div class="article-title padding-top-30 text-left text-sm-right col-12 col-sm-6">

      </div>
    </div>

    <div class="box box-default table-box table-responsive mdl-shadow--2dp">

      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="datasource">

        <ng-container matColumnDef="codigo">

          <mat-header-cell *matHeaderCellDef >Código</mat-header-cell>

          <mat-cell *matCellDef="let material">{{material.codigo}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="nombre">

          <mat-header-cell *matHeaderCellDef>nombre</mat-header-cell>

          <mat-cell *matCellDef="let material">{{material.nombre}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
          <mat-cell class="description-cell"
                    *matCellDef="let material">{{material.descripcion}}</mat-cell>

        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      </mat-table>

      <mat-paginator [length]="total" [pageSize]="50"
                     [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
    </div>
  </article>
</section>