<h1 mat-dialog-title>Material para Tarea</h1>

<div mat-dialog-content class="box box-default">
  <div class="box-body">
    <form>
      <div class="row">
        <div class="col-12">
          <app-select-tipomaterial  [object]="tipoMaterialActual" (onChange)="tipoMaterialOnChange($event)" idModel="id"
                                    placeHolder="Familia y Grupo" id="id" desc="familia" desc2="grupo" desc3="subgrupo"></app-select-tipomaterial>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="full-width" *ngIf="this.tipoMaterialActual !== undefined">
            <mat-select [(value)]="materialActualId" placeholder="Material" class="full-width" (change)="materialOnChange($event)">
              <mat-option [value]="-1">Seleccionar Material</mat-option>
              <mat-option *ngFor="let m of materiales" [value]="m.id" >{{m.codigo}} - {{m.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
        <div class="row">
            <div class="col-12">
                <app-select-unidadmedida [object]="tareaMaterialActual.unidadMedida" (onChange)="unidadOnChange($event)" idModel="id"
                                         placeHolder="Unidad" id="id" desc="codigo" desc2="decimales"></app-select-unidadmedida>
            </div>
        </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="tareaMaterialActual.cantidad" matInput placeholder="Cantidad" name="Cantidad">
          </mat-input-container>
        </div>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions class="full-width">
  <div class="full-width text-sm-right">
    <button mat-button color="primary" class="btn-w-xs" [mat-dialog-close]="false">Cancelar</button>
    <button mat-button color="primary" class="btn-w-md" (click)="guardar()">Guardar</button>
  </div>
</div>
