<h1 mat-dialog-title>Registro</h1>

<div mat-dialog-content class="box box-default">
  <div class="box-body">
    <form>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="full-width">
            <input [(ngModel)]="fechaActual" name="fecha" class="full-width" matInput [matDatepicker]="picker" placeholder="Fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="registroActual.minutos" matInput placeholder="Tiempo" name="Tiempo">
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-select-usuario [object]="usuarioActual" (onChange)="usuarioOnChange($event)" idModel="id" placeHolder="Usuario" id="id" desc="nombre"></app-select-usuario>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="full-width" *ngIf="this.registroActual.usuario !== undefined">
            <mat-select [(value)]="rubroActualId" placeholder="Rubro" class="full-width" (change)="rubroOnChange($event)">
              <mat-option [value]="-1">Seleccionar Rubro</mat-option>
              <mat-option *ngFor="let r of rubrosUsuario" [value]="r.id" >{{r.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions class="full-width">
  <div class="full-width text-sm-right">
    <button mat-button color="primary" class="btn-w-xs" [mat-dialog-close]="false">Cancelar</button>
    <button mat-button color="primary" class="btn-w-md" (click)="guardar()">Guardar</button>
  </div>
</div>