<h1 mat-dialog-title>
  <div class="row">
    <div class="col-11 text-left">
      Tipo de Equipo
    </div>
    <div class="col-1 text-rigth">
      <mat-spinner *ngIf="loading" [diameter]="20" [strokeWidth]="5"></mat-spinner>
    </div>
  </div>
</h1>

<div mat-dialog-content class="box box-default">
  <div class="box-body">
    <form>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="tipoEquipoActual.descripcion" matInput placeholder="Descripcion" name="Descripcion" [formControl]="descripcionFC">
            <mat-error *ngIf="descripcionFC.hasError('required')">La descripción es obligatoria.</mat-error>
          </mat-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <mat-checkbox name="requiereInfoRecibo" [(ngModel)]="tipoEquipoActual.requiereInfoRecibo">¿Requiere Info. Reccibo?</mat-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="divider divider-sm"></div>
          <input mat-raised-button color="accent" class="btn-w-md" type="file" id="imagen" (change)="onFileChange($event)" #fileInput>
          <button mat-button color="warn" class="btn-w-md" type="button" class="btn btn-sm btn-default" (click)="clearFile()">Eliminar</button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="item-card" *ngIf="tipoEquipoActual.dibujo != undefined">
            <div class="card__image">
              <img alt="product" [src]="tipoEquipoActual.dibujo" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions class="full-width">
  <div class="full-width text-sm-right">
    <button mat-button color="primary" class="btn-w-xs" [mat-dialog-close]="false">Cancelar</button>
    <button [disabled]="descripcionFC.invalid || loading || tipoEquipoActual.dibujo == undefined" mat-button color="primary" class="btn-w-md" (click)="guardar()">Guardar</button>
  </div>
</div>