<ul class="nav" myAccordionNav myAppendSubmenuIcon mySlimScroll myHighlightActiveItems>
  <!-- <li class="nav-header"><span>Navigation</span></li> -->
  <li>
    <a mat-button [routerLink]="['/app/dashboard']">
      <i class="nav-icon material-icons">home</i>
      <span class="nav-text">Dashboard</span>
    </a>
  </li>


  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/trabajos/altaTrabajo']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Nuevo Trabajo</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/trabajos/monitorfacturacion/progreso']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Trabajos en proceso</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/trabajos/monitorfacturacion/valores']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Trabajos para asignar valores</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/trabajos/monitorfacturacion/remito']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Monitor Remito</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/trabajos/monitorfacturacion/factura']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Monitor Facturación</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/trabajos/monitorfacturacion/finalizado']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Historial Trabajos</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/trabajos/monitorfacturacion/todos']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Trabajos</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/rubros/lista']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Rubros</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/usuarios/listaUsuarios']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Usuarios</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/materiales/listaMaterialesLazy']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Artículos</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/tiposmateriales/listaTiposMateriales']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Tipos de Artículos</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/notificaciones/destinatarios']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Notificaciones</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/tiposequipos/listaTiposDeEquipos']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Tipos de Equipo</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/marcas/listaMarcas']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Marcas</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/calendario/gantt']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Gantt</span>
    </a>
  </li>

  <li *ngIf="isAdmin()">
    <a mat-button [routerLink]="['/app/calendario/calendario']">
      <i class="nav-icon material-icons">assignment_ind</i>
      <span class="nav-text">Calendario</span>
    </a>
  </li>

</ul>