<section class="container-fluid with-maxwidth chapter">
  <article class="article">

    <div class="row">
      <h2 class="article-title padding-top-30 col-12 col-sm-6">Tareas</h2>
      <div class="article-title padding-top-30 text-left text-sm-right col-12 col-sm-6">
        <!--<button [disabled]="!loadCompleted" *ngIf="trabajo.estado == 'EN_PROCESO'" mat-raised-button color="accent" class="btn-w-md" (click)="nuevoPuntoContol()">Crear Punto de Control</button>-->
        <button [disabled]="!loadCompleted" *ngIf="trabajo.estado == 'EN_PROCESO'" mat-raised-button color="accent" class="btn-w-md" (click)="nuevo()">Crear Tarea</button>
      </div>
    </div>

    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
      <table class="mdl-data-table">
        <thead>
          <tr>
            <th>#</th>
            <th class="mdl-data-table__cell--non-numeric">Nombre</th>
            <th class="mdl-data-table__cell--non-numeric">Descripción</th>
            <th class="mdl-data-table__cell--non-numeric">Tiempo Estimado (En horas)</th>
            <th class="mdl-data-table__cell--non-numeric">Punto de Control</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of lista">
            <td>{{x.id}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{x.nombre}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{x.descripcion}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{x.minutosEstimados / 60 | number : '1.2-2'}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{x.puntoControl.nombre}}</td>
            <td>
              <button *ngIf="!x.completa" mat-icon-button color="primary" (click)="tareaCompleta(x)" matTooltip="Finalizar tarea">
                <mat-icon  class="material-icons">check</mat-icon>
              </button>
              <button *ngIf="x.completa && x.necesitaVerificacion && !x.verificada" mat-icon-button color="accent" (click)="tareaVerificada(x)" matTooltip="Verificar tarea">
                <mat-icon  class="material-icons">check</mat-icon>
              </button>
              <button [disabled]="((trabajo.estado != 'EN_PROCESO') || (trabajo.estado == 'EN_PROCESO' && x.puntoControl.verificado))" *ngIf="(x.completa && !x.verificada)" mat-icon-button color="warn" (click)="tareaCompleta(x)" matTooltip="Volver a editar tarea">
                <mat-icon  class="material-icons">close</mat-icon>
              </button>
              <button [disabled]="((trabajo.estado != 'EN_PROCESO') || (trabajo.estado == 'EN_PROCESO' && x.puntoControl.verificado))" *ngIf="x.verificada" mat-icon-button color="warn" (click)="tareaVerificada(x)" matTooltip="Volver a verificar tarea">
                <mat-icon  class="material-icons">close</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="verMateriales(x)" matTooltip="Materiales">
                <mat-icon  class="material-icons" >format_paint</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="verRegistros(x)" matTooltip="Registro de Horas">
                <mat-icon  class="material-icons" >access_time</mat-icon>
              </button>
              <button [disabled]="x.completa || (x.necesitaVerificacion && x.verificada)" mat-icon-button color="primary" (click)="editar(x)" matTooltip="Editar">
                <mat-icon class="material-icons">mode_edit</mat-icon>
              </button>
              <button [disabled]="x.completa || (x.necesitaVerificacion && x.verificada)" mat-icon-button color="warn" matTooltip="Eliminar">
                <mat-icon class="material-icons" (click)="eliminar(x)">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</section>