<section class="container-fluid with-maxwidth chapter">
  <article class="article">

    <div class="row">
      <h2 class="article-title padding-top-30 col-12 col-sm-6">{{titulo}}</h2>
    </div>

    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
      <table class="mdl-data-table">
        <thead>
        <tr>
          <th>#</th>
          <th class="mdl-data-table__cell--non-numeric">Id. Trabajo</th>
          <th class="mdl-data-table__cell--non-numeric">Motivo Visita</th>
          <th class="mdl-data-table__cell--non-numeric">RUT Cliente</th>
          <th class="mdl-data-table__cell--non-numeric">Nombre Cliente</th>
            <th class="mdl-data-table__cell--non-numeric">Estado</th>
          <th class="mdl-data-table__cell--non-numeric">Matrícula Equipo</th>
          <th class="mdl-data-table__cell--non-numeric">Marca/Modelo Equipo</th>
            <th class="mdl-data-table__cell--non-numeric">Número Remito</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let x of listaParaFacturar">
          <td>{{x.id}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{x.id}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{x.motivoVisita}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{x.cliente.rut}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{x.cliente.nombreEmpresa}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{x.estado}}</td>
          <td class="mdl-data-table__cell--non-numeric" *ngIf="x.equipo !== undefined">{{x.equipo.matricula}}</td>
          <td class="mdl-data-table__cell--non-numeric" *ngIf="x.equipo !== undefined">{{x.equipo.marca}} / {{x.equipo.modelo}}</td>
          <td class="mdl-data-table__cell--non-numeric" *ngIf="x.equipo === undefined">N/A</td>
          <td class="mdl-data-table__cell--non-numeric" *ngIf="x.equipo === undefined">N/A</td>
            <td class="mdl-data-table__cell--non-numeric" *ngIf="x.nroRemito !== undefined && x.nroRemito !== null">{{x.nroRemito}}</td>
            <td class="mdl-data-table__cell--non-numeric" *ngIf="x.nroRemito === undefined || x.nroRemito === null">N/A</td>

          <td>
            <a matTooltipPosition="above" matTooltip="Facturas" mat-icon-button color="secondary" *ngIf="this.estado === 'PENDIENTE_ASIGNACION_VALORES,PENDIENTE_REMITO'" [routerLink]="['/app/trabajos/facturas/', x.id]">
              <mat-icon class="material-icons">monetization_on</mat-icon>
            </a>
            <button mat-icon-button color="primary" matTooltip="Asignar número factura" (click)="asignarFactura(x)" *ngIf="this.estado === 'PENDIENTE_FACTURA'">
              <mat-icon class="material-icons">mode_edit</mat-icon>
            </button>
              <button mat-icon-button color="primary" matTooltip="Asignar número remito" (click)="asignarRemito(x)" *ngIf="this.estado === 'PENDIENTE_REMITO'">
                  <mat-icon class="material-icons">mode_edit</mat-icon>
              </button>
            <button mat-icon-button matTooltip="Ver detalle" color="success">
              <mat-icon class="material-icons" (click)="verDetalle(x)">search</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="En espera" *ngIf="this.estado === 'factura'">
              <mat-icon class="material-icons" (click)="ponerEnEspera(x)">announcement</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Ver PDF" color="success">
              <mat-icon class="material-icons" (click)="verPDF(x)">cloud_download</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </article>
</section>

<section class="container-fluid with-maxwidth chapter" *ngIf="this.estado === 'factura'">
    <article class="article">

        <div class="row">
            <h2 class="article-title padding-top-30 col-12 col-sm-6">Trabajos en espera</h2>
        </div>

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <table class="mdl-data-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th class="mdl-data-table__cell--non-numeric">Id. Trabajo</th>
                    <th class="mdl-data-table__cell--non-numeric">Motivo Visita</th>
                    <th class="mdl-data-table__cell--non-numeric">RUT Cliente</th>
                    <th class="mdl-data-table__cell--non-numeric">Nombre Cliente</th>
                    <th class="mdl-data-table__cell--non-numeric">Matrícula Equipo</th>
                    <th class="mdl-data-table__cell--non-numeric">Marca/Modelo Equipo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let x of listaEnEspera">
                    <td>{{x.id}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{x.id}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{x.motivoVisita}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{x.cliente.rut}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{x.cliente.nombreEmpresa}}</td>
                    <td class="mdl-data-table__cell--non-numeric" *ngIf="x.equipo !== undefined">{{x.equipo.matricula}}</td>
                    <td class="mdl-data-table__cell--non-numeric" *ngIf="x.equipo !== undefined">{{x.equipo.marca}} / {{x.equipo.modelo}}</td>
                    <td class="mdl-data-table__cell--non-numeric" *ngIf="x.equipo === undefined">N/A</td>
                    <td class="mdl-data-table__cell--non-numeric" *ngIf="x.equipo === undefined">N/A</td>
                    <td>
                        <button mat-icon-button color="primary" matTooltip="A facturar">
                            <mat-icon class="material-icons" (click)="aFacturar(x)">announcement</mat-icon>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </article>
</section>