<h1 mat-dialog-title>Equipo</h1>

<div mat-dialog-content class="box box-default">
  <div class="box-body">
    <form>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="equipoActual.marca" matInput placeholder="Marca" name="Marca">
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="equipoActual.modelo" matInput placeholder="Modelo" name="Modelo">
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="equipoActual.matricula" matInput placeholder="Matrícula" name="Matrícula">
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="equipoActual.numeroChasis" matInput placeholder="Número de chasis" name="Número de chasis">
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="equipoActual.color" matInput placeholder="Color" name="Color">
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="equipoActual.descripcion" matInput placeholder="Descripción" name="Descripción">
          </mat-input-container>
        </div>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions class="full-width">
  <div class="full-width text-sm-right">
    <button mat-button color="primary" class="btn-w-xs" [mat-dialog-close]="false">Cancelar</button>
    <button mat-button color="primary" class="btn-w-md" (click)="guardar()">Guardar</button>
  </div>
</div>