<section class="container-fluid with-maxwidth chapter" *ngIf="trabajo !== undefined">

  <div class="row" >
    <h2 class="article-title padding-top-30 col-12 col-sm-6">Trabajo {{trabajo.numeroTrabajo}}</h2>
    <div class="article-title padding-top-30 text-left text-sm-right col-12 col-sm-6">
      <button *ngIf="trabajo.estado == 'PARA_FACTURAR'" mat-raised-button color="accent" class="btn-w-md" (click)="monitorFacturacion()">Ir a Monitor de Facturación</button>
    </div>
  </div>

  <article class="article">
    <div class="row">
      <h2 class="article-title padding-top-30 col-4 col-sm-4">Información general</h2>

    </div>
    <form>
      <fieldset>
        <div class="box box-default">
          <div class="box-body">
            <div class="form-group row">
              <div class="col-6">
                <mat-input-container class="full-width">
                  <input matInput disabled placeholder="Motivo visita" [(ngModel)]="trabajo.motivoVisita" name="Motivo Visita">
                </mat-input-container>
              </div>
              <div class="col-3">
                <mat-form-field  class="full-width">
                  <input disabled [(ngModel)]="trabajo.fechaRecepcion" name="fechaRecepcion" class="full-width" matInput placeholder="Fecha recepción">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field  class="full-width">
                  <input disabled [(ngModel)]="trabajo.fechaProvistaEntrega" name="fechaPrevistaEntrega" class="full-width" matInput  placeholder="Fecha prevista de entrega">
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">
                <mat-input-container class="full-width">
                  <input matInput  disabled [(ngModel)]="trabajo.nroOrdenCompra" placeholder="Número orden de compra" name="nroOrdenCompra">
                </mat-input-container>
              </div>
              <div class="col-3">
                <mat-input-container class="full-width">
                  <input matInput disabled [(ngModel)]="trabajo.cotizacion" placeholder="Cotización" name="cotizacion">
                </mat-input-container>
              </div>
              <div class="col-3">
                <mat-checkbox disabled [(ngModel)]="trabajo.requierePresupuesto" name="documentos">¿Requiere Presupuesto?</mat-checkbox>
              </div>
              <div class="col-3">
                <mat-checkbox disabled [(ngModel)]="trabajo.esReparacion" name="documentos">¿Reparación?</mat-checkbox>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <mat-input-container class="full-width">
                  <input matInput disabled [(ngModel)]="trabajo.nombreClienteRecepcion" placeholder="Nombre Cliente Recepción" name="NombrePersona">
                </mat-input-container>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <mat-input-container class="full-width">
                  <textarea matInput disabled placeholder="Comentarios" [(ngModel)]="trabajo.comentarios" name="Comentarios"></textarea>
                </mat-input-container>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </article>

  <article class="article">
    <h2 class="article-title">Cliente</h2>

    <div class="box box-default">
      <div class="box-body">

        <form>
          <div class="form-group row">
            <div class="col-6">
              <mat-input-container class="full-width">
                <input matInput placeholder="Nombre Empresa" disabled value="{{trabajo.cliente.nombreEmpresa}}">
              </mat-input-container>
            </div>
            <div class="col-6">
              <mat-input-container class="full-width">
                <input matInput placeholder="RUT" disabled value="{{trabajo.cliente.rut}}">
              </mat-input-container>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <mat-input-container class="full-width mat-icon-left">
                <mat-icon class="material-icons">email</mat-icon>
                <input matInput disabled value="{{trabajo.cliente.emailEmpresa}}" placeholder="Email">
              </mat-input-container>
            </div>
            <div class="col-6">
              <mat-input-container class="full-width mat-icon-left">
                <mat-icon class="material-icons">settings_phone</mat-icon>
                <input matInput disabled value="{{trabajo.cliente.telefono}}" placeholder="Teléfono">
              </mat-input-container>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <mat-input-container class="full-width mat-icon-left">
                <mat-icon class="material-icons">map</mat-icon>
                <textarea matInput placeholder="Dirección" disabled value="{{trabajo.cliente.direccion}}"></textarea>
              </mat-input-container>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <mat-input-container class="full-width mat-icon-left">
                <mat-icon class="material-icons">perm_identity</mat-icon>
                <input matInput disabled value="{{trabajo.cliente.personaContacto}}" placeholder="Persona de contacto">
              </mat-input-container>
            </div>
            <div class="col-6">
              <mat-input-container class="full-width mat-icon-left">
                <mat-icon class="material-icons">settings_phone</mat-icon>
                <input matInput disabled value="{{trabajo.cliente.telefonoContacto}}" placeholder="Teléfono contacto">
              </mat-input-container>
            </div>
          </div>
        </form>

      </div>
    </div>

  </article>

  <article *ngIf="trabajo.equipo != undefined" class="article">
    <h2 class="article-title">Equipo</h2>

    <div class="box box-default">
      <div class="box-body">

        <form>
          <div class="form-group row">
            <div class="col-6">
              <mat-input-container class="full-width">
                <input matInput placeholder="Matrícula" disabled value="{{trabajo.equipo.matricula}}">
              </mat-input-container>
            </div>
            <div class="col-6">
              <mat-input-container class="full-width">
                <input matInput placeholder="Marca/Modelo" disabled value="{{trabajo.equipo.marca.nombre}}/{{trabajo.equipo.modelo}}">
              </mat-input-container>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <mat-input-container class="full-width">
                <input matInput disabled value="{{trabajo.equipo.numeroChasis}}" placeholder="Número de chasis">
              </mat-input-container>
            </div>
            <div class="col-6">
              <mat-input-container class="full-width">
                <input matInput disabled value="{{trabajo.equipo.color}}" placeholder="Color">
              </mat-input-container>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <mat-input-container class="full-width">
                <textarea matInput placeholder="Descripción" disabled value="{{trabajo.equipo.descripcion}}"></textarea>
              </mat-input-container>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <mat-input-container class="full-width">
                <input matInput disabled value="{{trabajo.equipo.tipoEquipo.descripcion}}" placeholder="Tipo de equipo">
              </mat-input-container>
            </div>
          </div>
        </form>

      </div>
    </div>

  </article>

  <article class="article">
    <app-lista-puntoscontrol [trabajo]="trabajo" [puntosControl]="puntosControl" (onChangeParaFinalizarTrabajo)="onChangeParaFinalizarTrabajo($event)"></app-lista-puntoscontrol>
  </article>

  <article class="article">
    <app-lista-tareas [trabajo]="trabajo" [lista]="lista" (onChangeParaFinalizarTrabajo)="onChangeParaVerificarPuntoControl($event)"></app-lista-tareas>
    <div class="row">
      <div class="article-title padding-top-30 col-12 col-sm-6"></div>
      <div class="padding-top-30 text-left text-sm-right col-12 col-sm-6">
        <mat-checkbox *ngIf="trabajo.estado == 'EN_PROCESO'" [disabled]="!trabajo.paraFinalizar" [(ngModel)]="remito" name="remito">¿Remito?</mat-checkbox>
        <button *ngIf="trabajo.estado == 'EN_PROCESO'" [disabled]="!trabajo.paraFinalizar" mat-raised-button color="accent" class="btn-w-md" (click)="finalizarTrabajo()">Finalizar Trabajo</button>
        <!--<mat-checkbox *ngIf="trabajo.estado == 'EN_PROCESO'"  [(ngModel)]="remito" name="remito">¿Remito?</mat-checkbox>-->
        <!--<button *ngIf="trabajo.estado == 'EN_PROCESO'"  mat-raised-button color="accent" class="btn-w-md" (click)="finalizarTrabajo()">Finalizar Trabajo</button>-->
      </div>
    </div>
  </article>


</section>